$purple: #d68fe9;
$purple-dark: #b28fce;
$purple-dim: #986db2;
$purple-deep: #b854d4;

$sakura: #e87a90;
$sakura-light: #fedfe1;
$sakura-m: #F8C3CD;
$momo: #F596AA;

$splitter-box-border:#39f;
$dashed-box-border: #3dea04;

// Background
$bg-white: rgba(255, 255, 255, 0.9);
$bg-white-trans: rgba(255, 255, 255, 0.3);
$bg-white-dim: rgba(255, 255, 255, 0.65);
$bg-white-deep: rgba(255, 255, 255, 0.8);
$bg-dark: rgba(0, 0, 0, 0.1);
$bg-dark-dim: rgba(0, 0, 0, 0.2);
$bg-dark-deep: rgba(0, 0, 0, 0.3);
$bg-aplayer: rgba(178, 143, 206, 0.65);
$bg-sp-color: #f4f8fb;
$bg-dark-line: rgba(0, 0, 0, 0.08);


$card-shadow: 0 0 2px 0 $bg-dark, 0px 2px 2px 0 $bg-dark-dim;
$card-shadow-base: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
$card-shadow-base-hover: 0 10px 20px $bg-dark-dim, 0 6px 6px $bg-dark-deep;
